html {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

main {
    margin-left: 8%;
    margin-right: 8%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.background-green {
    background-color: rgba(2, 162, 143, 1);
    color: #fff;
}

.header-container {
    height: 3rem;
    padding: .5rem 7rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.opinion {
    background: linear-gradient(180deg, rgba(102, 102, 102, 0) 0%, #000000 100%), url(./assets/city.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2rem;
    height: 21rem;
    width: 48rem;
    color: #fff;
    border-radius: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 0 0 1.2rem 1.2rem;
}

.text p {
    font-size: 1rem;
}

.text h2 {
    font-size: 2rem;
}

.text h4 {
    font-size: .8rem;
    font-weight: 400;
}

.section-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.section-side-card {
    display: flex;
    flex-direction: column;
}

.title-section {
    border-radius: .5rem;
    width: 20rem;
    height: 1.5rem;
    text-align: left;
    align-content: center;
    padding: .5rem 0 .5rem 1rem;
    font-size: .7rem;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    color: black;
    margin-bottom: 1.3rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, 0.1);
    padding: .5rem;
}

.card h3 {
    font-size: .6rem;
    margin-bottom: .2rem;
}

.card p {
    font-size: .5rem;
    color: rgba(97, 97, 97, 1);
}

.card img {
    width: 6.5rem;
    height: 4rem;
    border-radius: 1rem;
}

.section-2 {
    display: flex;
    flex-direction: row;
}

.recent-post-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 47rem;
    height: 2rem;
    margin-right: 2rem;
    padding: .5rem 1rem .5rem 1.5rem;
    font-size: .7rem;
    border-radius: .5rem;
    margin-bottom: .8rem;
}

.recent-post-banner h3{
    font-size: 1rem;
}

.recent-post-banner p{
    font-size: .6rem;
}

.categories-banner {
    width: 20rem;
    font-size: .7rem;
    height: 1rem;
    padding: .7rem;
    border-radius: .5rem;
}

.recent-post-banner p {
    text-decoration: underline;
    border-bottom: 5px;
}

.recent-post-type {
    color: rgba(2, 162, 143, 1);
}

.big-cards-text h3 {
    margin: .6rem 0;
    font-size: 1.3rem;
    font-weight: 700;
}

.recent-post-by {
    color: rgba(97, 97, 97, 1);
}

.recent-post-fill {
    margin: .5rem 0 1rem 0;
}

.recent-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: .8rem;
    width: 49.5rem;
}

.big-cards {
    box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, 0.1);
    margin: 1rem;
    border-radius: 1rem;
}

.big-cards img {
    width: 100%;
    height: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.big-cards-text {
    margin: 1rem;
}


.footer-container {
    width: 100%;
    height: 2rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .6rem;
}


